@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,100,400);

body {
	height: 100vh;
	/* padding: 0; */
	/* margin: 0; */
	background: #222;
	font-family: "Ubuntu", Arial, sans-serif;
  }


/* -------------------------- Plasma Background ------------------------------ */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(19, 19, 19);
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
/* -------------------------- /Plasma Background ------------------------------ */




/* -------------------------- Nav ------------------------------ */
.navorg {
	z-index: 2;
	justify-content: flex-end;
	margin-right: 10vw;
	margin-top: 5vh;
	
}
.nav {
	color: #fff;
	text-decoration: none;
	text-align: center;
}
/* .navitemcontainer {
} */
.navsizing {
	width:calc(1rem + 16vw);
	height:calc(1rem + 3vw);
	font-size:calc(0.3rem + 1.5vh);
}
@media screen and (max-width: 1920px) {
	.navsizing {
		width:calc(1rem + 5vw);
	}
}
@media screen and (max-width: 1600px) {
	.navsizing {
		width:calc(1rem + 8vw);
	}
}
@media screen and (max-width: 1280px) {
	.navsizing {
		width:calc(1rem + 11vw);
	}
}
@media screen and (max-width: 725px) {
	.navsizing {
		width:calc(1rem + 14vw);
	}
}
@media screen and (max-width: 560px) {
	.navsizing {
		width:calc(1rem + 17vw);
	}
}

.navitem {
	transition: 0.3s;
}
.navitem:hover {
	font-size:calc(0.4rem + 2.5vh);
	transition: 0.3s;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 20%, #000 50%, rgba(0,0,0,.6) 80%);
	-webkit-mask-size: 200%;
	animation: shine 1s infinite;
}
/* -------------------------- /Nav ------------------------------ */

/* -------------------------- Shine ------------------------------ */
/* shine */
.shine:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
  }
  @-webkit-keyframes shine {
	from {
	  -webkit-mask-position: 150%;
	}
	
	to {
	  -webkit-mask-position: -50%;
	}
  }
/* -------------------------- /Shine ------------------------------ */

/* -------------------------- IndexBody ------------------------------ */

.body-main {
	width: 100vw;
	height: 100vh;
	/* margin-bottom: 20vh; */
}

svg.intro {
	background: linear-gradient(135deg, rgb(53, 39, 39), #3b0909);
	/* margin: 25vh 30vw; */
	width: 35vw;
	height: 65vh;
	/* max-width: 800px; */
	position: absolute;
	top: 50%;
	left: 35%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	box-shadow: 0 30px 50px -20px #420606;
  }
  svg.intro .text {
	display: none;
  }
  svg.intro.go .text {
	font-family: Arial, sans-serif;
	font-size: calc(0.5vh);
	text-transform: uppercase;
	text-align: center;
	display: block;
  }
  svg.intro.go .text-stroke {
	fill: none;
	stroke: #6f2525;
	stroke-width: 1vh;
	stroke-dasharray: 900; /* Length of Dash line */
	stroke-dashoffset: -175; /* position in cycle */
	stroke-linecap: butt;
	stroke-linejoin: round;
	animation: dash ease-in-out forwards;
	animation-duration: 2s;
	animation-delay: 0s;
  }
  @media screen and (max-width: 1920px) {
	svg.intro.go .text {
	  font-size: calc(2vh);
	} 
  }
  @media screen and (max-width: 1600px) {
	svg.intro.go .text {
	  font-size: calc(3vh);
	} 
  }
  @media screen and (max-width: 1280px) {
	svg.intro.go .text {
	  font-size: calc(3vh);
	} 
	svg.intro.go .text-stroke {
		stroke-width: 2vh;
	}
  }
  @media screen and (max-width: 1024px) {
	svg.intro.go .text {
	  font-size: calc(5vh);
	} 
  }
  /* @media screen and (max-width: 720px) { 
	svg.intro.go .text {
	}
  }
  @media screen and (max-width: 530px) { 
	svg.intro.go .text {
	}
  } */
  svg.intro.go .text-stroke:nth-child(2) {
	  /* text line 2 start delay */
	animation-delay: .5s;
  }
  svg.intro.go .text-stroke:nth-child(3) {
	  /* text line 3 start delay */
	animation-delay: 1s;
  }
  svg.intro.go .text-stroke-2 {
	/* fill line 1 start delay */
	stroke: #dbdbdb;
	animation-delay: 1.5s;
  }
  svg.intro.go .text-stroke:nth-child(5) {
	/* fill line 2 start delay */
	animation-delay: 2s;
  }
  svg.intro.go .text-stroke:nth-child(6) {
	/* fill line 3 start delay */
	animation-delay: 2.5s;
  }
  
  @-webkit-keyframes dash {
	100% {
	  stroke-dashoffset: 0;
	}
  }
  
  @keyframes dash {
	100% {
	  stroke-dashoffset: 0;
	}
  }
  .reload {
	position: absolute;
	bottom: calc(20vh);
	left: 19vw;
	background: rgb(211, 211, 211);
	border: none;
	border-radius: 20px;
	outline: none !important;
	font-size: 12px;
	line-height: 1.5;
	padding: 8px 12px;
	z-index: 10;
	cursor: pointer;
	box-shadow: 0 6px 7px #3d0808;
	-webkit-transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
	transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  }
  .reload:hover {
	box-shadow: 0 4px 4px #4c0e0e;
	-webkit-transform: translateY(1px);
			transform: translateY(1px);
  }
  .reload:active {
	box-shadow: 0 1px 2px #244b94;
	-webkit-transform: translateY(2px);
			transform: translateY(2px);
  }
  .reload svg {
	vertical-align: middle;
	position: relative;
	top: -2px;
  }
  
/* -------------------------- /IndexBody ------------------------------ */



/* -------------------------- General Use Atomic ------------------------------ */
/* BORDER */
.bd1 {
    border:1px;
}
.borderplain {
	border-style:solid;
	border-color:gray;
}


/* ALIGN */
.aic {
    align-items: center;
}
.ais {
    align-items: start;
}

/* JUSTIFY */
.jcsb {
    justify-content: space-between;
}
.jcc {
    justify-content: center;
}
.jcs {
    justify-content: start;
}
.jcsa {
    justify-content: space-around;
}
.jcse {
    justify-content: space-evenly;
}


.w1\/1 {
	width:100%;
}
.h1\/1 {
	height:100%;
}
.m- {
    margin: calc(0.3vw + 0.3vh);
}
.m {
    margin: 1rem;
}
.p {
    padding: 1rem;
}
.pbplus {
    padding-bottom: 1.66rem;
}

/* White text shortcut */
.cwhite {
	color:white;
}

/* flexbox shortcut classes */
.flex {
	display: flex;
}
.column {
	flex-flow: column;
}
.wrap {
	flex-wrap: wrap;
}


/* TEXT */
.tdn {
    text-decoration: none;
}
.taj {
    text-align: justify;
}


.relative {
	position: relative;
}
.bgcolorblack {
	background-color:#101010;
}
/* -------------------------- /General Use Atomic ------------------------------ */



/* Footer adjustments for small screen sizes */
@media screen and (max-width: 1024px) { 
	.footcontainer2 {
		left: 0;
		right: 0;
		bottom: 0;
		height: 20vh;
		width:100%;
		justify-content:center;
		align-items:center;
	}

	.transition-bar{
		position: absolute;
		top: 0;
		left: 0%;
		width: 0;
		height: 100%;
		background: #ffffff;
	}
	.bar-anchor:hover .transition-bar{
	width:150%;
	left:125%;
	-moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	}
}
